<!-- server/src/views/pages/events.ejs -->
<%- include('../layouts/main', { title: 'Events' }) %>
<main>
  <h1>Events</h1>
  <ul>
    <% events.forEach(event => { %>
      <li>
        <h2><a href="/events/<%= event.id %>"><%= event.title %></a></h2>
        <p><%= event.description %></p>
        <p>Date: <%= event.date %></p>
        <p>Time: <%= event.time %></p>
        <p>Location: <%= event.location %></p>
      </li>
    <% }) %>
  </ul>
</main>